<div class="usuarios-online">
  <i class="icon-user" title="Usuários online"></i>
  {{online}}
</div>

<div class="visualizacoes">
  <i class="icon-arrow-up" title="Record de usuários online"></i>
  {{record}}
</div>
