<li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
    {{email}}
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li>
      <a href="/minha_conta/editar">
        <i class="icon-cog"></i>
        Configurações da conta
      </a>
    </li>
    <li class="divider"></li>
    <li>
      <a href="/sair" data-method="delete" rel="nofollow">
        <i class="icon-off"></i> Sair
      </a>
    </li>
  </ul>
</li>
