<!DOCTYPE html>
<html>
<body>
  <script>
    console.log(opener)
    if (window.opener) {
      window.opener.autenticaUsuario('<%= raw @usuario.to_json(only: :email) %>')
      window.close()
    }
  </script>
</body>
</html>
