<h1>Listing canais</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Descricao</th>
  </tr>

<% @canais.each do |canal| %>
  <tr>
    <td><%= link_to canal.nome, root_url(subdomain: canal.path) %></td>
    <td><%= truncate canal.descricao %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Canal', new_canal_path %>
