@import 'compass';
@import 'compass_twitter_bootstrap';
@import 'compass_twitter_bootstrap_responsive';
@import 'compass_twitter_bootstrap_awesome';
@import 'modal_entrar';
@import 'modal_recuperar_senha';

body {
  padding-top: 60px;
}

.modal {
  form {
    margin-bottom: 0;

    .alert {
      ul, p {
        margin-bottom: 0;
      }
    }
  }
}
