h2 {
  margin-bottom: 10px;
}

div.info {
  border: 1px solid #e5e5e5;
  padding: 7px 10px;
  margin-top: 10px;
  border-radius: 8px;
  min-height: 19px;

  div.meta {
    overflow: hidden;
  }

  div.usuarios-online {
    color: #9d261d;
    float: left;
  }

  div.visualizacoes {
    float: left;
    margin-left: 15px;
  }

  div.addthis_toolbox {
    float: right;
    width: 60px;
  }
}

div.desc {
  margin-top: 25px;
}

#new_mensagem {
  margin-bottom: 25px;
  margin-top: 46px;
  overflow: hidden;

  #chat {
    height: 333px;
    margin: 0 0 15px 0;
    overflow: auto;

    li {
      color: #666;
      list-style: none;
      display: block;
      margin-bottom: 5px;
      padding-right: 40px;
      position: relative;

      span.created_at {
        color: #666;
        position: absolute;
        right: 0;
        top: 0;
      }
    }

    li.hoje, li:hover {
      color: #333;
    }

    li.separador-dia {
      margin: 10px 0;
      padding-right: 0;
      text-align: center;

      span.hr {
        border-top: 1px dotted #ccc;
        display: block;
        height: 1px;
        position: relative;
        top: 12px;
        z-index: 1;
        width: 100%;
      }

      strong {
        background: #fff;
        font-size: 11px;
        font-weight: normal;
        padding: 0 30px;
        position: relative;
        z-index: 2;

        i {
          font-size: 10px;
          opacity: 0.7;
        }
      }
    }
  }

  #mensagem_content {
    float: left;
    margin-right: 5px;
    width: 307px;
  }

  input.btn-primary {
    float: left;
  }
}

.programacao {
  margin-top: 20px;
}
